{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Panel principal</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/unam-ico.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css"/>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.min.css' %}" />
  <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/default.min.css' %}" />
  <script src="{% static 'alertifyjs/alertify.min.js' %}"></script>
</head>
<body class="img js-fullheight" style="background-image: url('{% static "images/unam.jpg"%}')";>
<!-- partial:index.partial.html -->
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img src="{% static 'images/unam-ico.png' %}" />
				</span>
				<h1 class="logo-title">
					<span>UNAM</span>
					<span>Banco</span>
				</h1>
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a href="#" class="active">
					General
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<a class="user-profile" href="{% url 'edit' %}" style="text-decoration:none">
				<span>{{ username }}</span>
				<span>
					<img src="{% static 'images/user.png' %}" />
				</span>
			</a>
		</div>
		<div class="app-header-mobile" href="{% url 'edit' %}" style="text-decoration:none">
			<a class="user-profile" href="{% url 'edit' %}" style="text-decoration:none">
				<span>{{ username }}</span>
				<span>
					<img src="{% static 'images/user.png' %}" />
				</span>
			</a>
		</div>

	</header>
	<div class="app-body">
		<div class="app-body-navigation">
			<nav class="navigation">
				<a>
					<i class="ph ph-gauge"></i>
					<span>Panel principal</span>
				</a>
				<a href="{% url 'deposits' %}">
					<i class="ph ph-piggy-bank"></i>
					<span>Depositos</span>
				</a>
				<a href="{% url 'transfers' %}">
					<i class="ph ph-swap"></i>
					<span>Transferencias</span>
				</a>
				<a href="{% url 'cuentas' %}">
					<i class="ph ph-credit-card"></i>
					<span>Cuentas</span>
				</a>
				<a href="{% url 'movements' %}">
					<i class="ph ph-clock-counter-clockwise"></i>
					<span>Movimientos</span>
				</a>
				<a href="{% url 'loan' %}">
					<i class="ph ph-money"></i>
					<span>Prestamos</span>
				</a>
				<a href="{% url 'logout' %}">
					<i class="ph ph-sign-out"></i>
					<span>Cerrar sesión</span>
				</a>
			</nav>
			<footer class="footer">
				<h1>UNAM<small>©</small></h1>
				<div>
					UNAM ©<br />
					Todos los derechos reservados 2023
				</div>
			</footer>
		</div>
		<div class="app-body-main-content">
			<section class="service-section">
				<div class="tiles">
					<article class="tile">
						<div class="tile-header">
							<i class="ph-fill ph-money"></i>
							<h3>
								<span>Total de dinero</span>
								<span><br/>$ {{ saldo_total }}</span>
							</h3>
						</div>
						<a href="{% url 'deposits' %}">
							<span>Depositar</span>
							<span class="icon-button">
								<i class="ph-fill ph-caret-circle-right"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-fill ph-trend-down"></i>
							<h3>
								<span>Deudas</span>
								<span><br/>$ {{ suma_prestamos }}</span>
							</h3>
						</div>
						<a href="#">
							<span>Pagar</span>
							<span class="icon-button">
								<i class="ph-fill ph-caret-circle-right"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-fill ph-credit-card"></i>
							<h3>
								<span>Cuentas activas</span>
								<span><br/>{{ accounts }}</span>
							</h3>
						</div>
						<a href="{% url 'cuentas' %}">
							<span>Abrir nueva cuenta</span>
							<span class="icon-button">
								<i class="ph-fill ph-caret-circle-right"></i>
							</span>
						</a>
					</article>
				</div>
				<div class="service-section-footer">
					<p>Ultimo inicio de sesion: {{ last_login }}</p>
				</div>
			</section>
			<section class="transfer-section">
				<div class="transfer-section-header">
					<h2>Transferencias recientes</h2>
					<div class="filter-options">
						<p>resumen de las ultimas 3</p>
					</div>
				</div>
				<div class="transfers">
					{% if transferencias %}
						{% for transferencia in transferencias %}
						<div class="transfer">
							<dl class="transfer-details">
								<div>
									<dt>{{ transferencia.establecimiento }}</dt>
									<dd>{{ transferencia.descripcion }}</dd>
								</div>
								<div>
									<dt>{{ transferencia.cuenta.ultimos_cuatro_digitos }}</dt>
									<dd>{{ transferencia.tipo_de_transaccion }}</dd>
								</div>
								<div>
									<dt>{{ transferencia.fecha }}</dt>
									<dd>{{ transferencia.estado }}</dd>
								</div>
							</dl>
							<div class="transfer-number">
								{% if transferencia.tipo_de_transaccion == "Deposito" or transferencia.tipo_de_transaccion == "Apertura" or transferencia.tipo_de_transaccion == "Cancelacion" %}
									$ {{ transferencia.monto }}
								{% else %}
									- $ {{ transferencia.monto }}
								 {% endif %}
							</div>
						</div>
						{% endfor %}
					{% else %}
						<p>No tiene transferencias</p>
					{% endif %}
				</div>
			</section>
		</div>
		<div class="app-body-sidebar">
			<section class="payment-section">
				<div class="payments">
					{% if cuentas_bancarias %}
						{% for cuenta in cuentas_bancarias %}
						<div class="payment">
							<div class="card {{ colores|random }}">
								<span>{{ cuenta.fecha_de_expiracion|date:"m/y" }}</span>
								<span>
									•••• {{ cuenta.ultimos_cuatro_digitos }}
								</span>
							</div>
							<div class="payment-details">
								<h3>{{ cuenta.tipo_de_cuenta }}</h3>
								<div>
									<span>$ {{ cuenta.saldo|floatformat:2 }}</span>
									<a href="{% url 'cuenta_detalle' cuenta.id %}" class="icon-button">
										<i class="ph-fill ph-info"></i>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					{% else %}
						<p>Aún no tiene cuentas bancarias<p>
					{% endif %}
				</div>
			</section>
		</div>
	</div>
</div>
</body>
</html>
{% if messages %}
    <script>
        {% for message in messages %}
            alertify.{{ message.tags }}('{{ message }}');
        {% endfor %}
    </script>
{% endif %}