{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Movimientos</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/unam-ico.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css"/>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

</head>
<body class="img js-fullheight" style="background-image: url('{% static "images/unam.jpg"%}')";>
<!-- partial:index.partial.html -->
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img src="{% static 'images/unam-ico.png' %}" />
				</span>
				<h1 class="logo-title">
					<span>UNAM</span>
					<span>Banco</span>
				</h1>
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a class="active">
					Movimientos
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<a class="user-profile" href="{% url 'edit' %}" style="text-decoration:none">
				<span>{{ username }}</span>
				<span>
					<img src="{% static 'images/user.png' %}" />
				</span>
			</a>
		</div>
		<div class="app-header-mobile" href="{% url 'edit' %}" style="text-decoration:none">
			<a class="user-profile" href="{% url 'edit' %}" style="text-decoration:none">
				<span>{{ username }}</span>
				<span>
					<img src="{% static 'images/user.png' %}" />
				</span>
			</a>
		</div>

	</header>
	<div class="app-body">
		<div class="app-body-navigation">
			<nav class="navigation">
				<a href="{% url 'dashboard' %}">
					<i class="ph ph-gauge"></i>
					<span>Panel principal</span>
				</a>
				<a href="{% url 'deposits' %}">
					<i class="ph ph-piggy-bank"></i>
					<span>Depositos</span>
				</a>
				<a href="{% url 'transfers' %}">
					<i class="ph ph-swap"></i>
					<span>Transferencias</span>
				</a>
        		<a href="{% url 'cuentas' %}">
					<i class="ph ph-credit-card"></i>
					<span>Cuentas</span>
				</a>
				<a>
					<i class="ph ph-clock-counter-clockwise"></i>
					<span>Movimientos</span>
				</a>
				<a href="{% url 'loan' %}">
					<i class="ph ph-money"></i>
					<span>Prestamos</span>
				</a>
				<a href="{% url 'logout' %}">
					<i class="ph ph-sign-out"></i>
					<span>Cerrar sesión</span>
				</a>
			</nav>
			<footer class="footer">
				<h1>UNAM<small>©</small></h1>
				<div>
					UNAM ©<br />
					Todos los derechos reservados 2023
				</div>
			</footer>
		</div>
		<div class="app-body-main-content">
			<section class="transfer-section">
				<div class="transfer-section-header">
					<h2>Transferencias</h2>
					<div class="filter-options">
						<p>Todas</p>
					</div>
				</div>
				<div class="transfers">
					{% if transferencias %}
						{% for transferencia in transferencias %}
						<div class="transfer">
							<dl class="transfer-details">
								<div>
									<dt>{{ transferencia.establecimiento }}</dt>
									<dd>{{ transferencia.descripcion }}</dd>
								</div>
								<div>
									<dt>{{ transferencia.cuenta.ultimos_cuatro_digitos }}</dt>
									<dd>{{ transferencia.tipo_de_transaccion }}</dd>
								</div>
								<div>
									<dt>{{ transferencia.fecha }}</dt>
									<dd>{{ transferencia.estado }}</dd>
								</div>
							</dl>
							<div class="transfer-number">
								{% if transferencia.tipo_de_transaccion == "Deposito" or transferencia.tipo_de_transaccion == "Apertura" or transferencia.tipo_de_transaccion == "Cancelacion" %}
									$ {{ transferencia.monto }}
								{% else %}
									- $ {{ transferencia.monto }}
								 {% endif %}
							</div>
						</div>
						{% endfor %}
					{% else %}
						<p>No tiene transferencias</p>
					{% endif %}
				</div>
			</section>
		</div>
	</div>
</body>
</html>
{% else %}
    <p>No has iniciado sesión</p>
{% endif %}